:root {
  --hover-filter: brightness(1);
}

html,
body {
  color: var(--text-main);
  font-family: var(--ff-main);
  overflow: initial;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
