:root {
  /* --- Typography --- */
  --ff-main: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  --font-weight-normal: var(--fw-400);
  --font-weight-medium: var(--fw-500);
  --font-weight-semibold: var(--fw-600);
  --font-weight-bold: var(--fw-700);
  --font-weight-extrabold: var(--fw-800);

  /* --- Spacing System --- */
  --spacing-50: 0.125rem;
  --spacing-100: 0.25rem;
  --spacing-200: 0.5rem;
  --spacing-300: 0.75rem;
  --spacing-400: 1rem;
  --spacing-500: 1.25rem;
  --spacing-600: 1.5rem;
  --spacing-700: 2rem;
  --spacing-800: 3rem;
  --spacing-900: 4rem;
  --spacing-1000: 5rem;

  --spacing-xs: var(--spacing-200);
  --spacing-sm: var(--spacing-300);
  --spacing-base: var(--spacing-400);
  --spacing-md: var(--spacing-600);
  --spacing-lg: var(--spacing-700);
  --spacing-xl: var(--spacing-800);

  /* --- Design Tokens  --- */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(222deg 22% 5%);

  /* Grays */
  --clr-gray-100: hsl(220, 14%, 96%);
  --clr-gray-200: hsl(220, 13%, 91%);
  --clr-gray-500: hsl(220, 9%, 46%);

  /* Accent */
  --clr-blue-100: hsl(204, 94%, 94%); /* for backgrounds */
  --clr-blue-600: hsl(200, 98%, 39%); /* for text/icons */

  /* --- Semantic Variables --- */
  --page-bg: var(--clr-white);
  --text-main: var(--clr-black);
  --text-muted: var(--clr-gray-500);

  --accent-bg: var(--clr-blue-100);
  --accent-text: var(--clr-blue-600);

  --border-subtle: var(--clr-gray-200);

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
}
