h1 {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.03em;
  line-height: 110%;
  margin-bottom: var(--spacing-xl);
}

p {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-base);
}
