.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}
